canvas {
    width: 100%;
    height: 100%;
    border: 1px dotted black;
    background-color: aliceblue;
}

#first{
  text-size:1em;
text-align: center;
position:absolute;
top:20px;
padding:inherit;
margin-left: 400px;
}
#last{
  text-align:center;
  position:absolute;
  top:80px;
  padding:inherit;
  margin-left: 400px;
  }
#Gender{
position:absolute;
text-align:center;
top:130px;
padding:inherit;
margin-left: 400px;
}

#Cm{
  text-align:center;
position:absolute;
top:250px;
padding:inherit;
margin-left: 400px;
}
#demo{
  text-align:center;
  position:absolute;
  border: 1px;
  top: 430px;
  padding:inherit;
  margin-left: 400px;
}
.Sm{
  position:absolute;
  top:550px;
  padding:inherit;
  background-color: coral;
  text-decoration-color: none;
  font-size: 16px;
    margin: 4px 2px;
}
